
.container{
    margin: auto;
    width:700px;
    height: 300px;
    padding: 60px;
    top:50px;
    position: relative;
    border-style: solid;
    visibility: visible;

}
#rock{
    width: 200px;
    height: 200px;
}
#paper{
    width:200px;
    height: 200px;
}
#scissors{
    width: 200px;
    height: 200px;
}
#you{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#computer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#heading{
    text-align: center;
}
#heading-part{
    text-align: center;
    position: relative;
    top:20px;
    color:coral;
}
#youChoseWhat{
    text-align: center;
    position: relative;
    top:20px;
    left: 5px;
}
#computerChoseWhat{
    text-align: center;
    position: relative;
    top:20px;
    left: 5px;
}
.layer{
    margin: auto;
    width:700px;
    height: 300px;
    padding: 60px;
    top:-370px;
    position: relative;
    border-style: solid;
    visibility: hidden;

}
#play{
    align-items: center;
    position: relative;
    left:280px;
    top:120px;
    height:40px;
    width: 100px;
}
@media (max-width:500px){
    .container{
        margin: auto;
        width:300px;
        height: 200px;
        padding: 20px;
        top:20px;
        position: relative;
        border-style: solid;
        visibility: visible;
    
    }
    #rock{
        width: 50px;
        height: 50px;
    }
    #paper{
        width:50px;
        height: 50px;
    }
    #scissors{
        width: 50px;
        height: 50px;
    }
    .layer{
        margin: auto;
        width:300px;
        height: 200px;
        padding: 20px;
        top:-340px;
        position: relative;
        border-style: solid;
        visibility: hidden;
    
    }
    #play{
        align-items: center;
        position: relative;
        left:100px;
        top:120px;
        height:40px;
        width: 100px;
    }
    #heading{
        font-size: larger;
    }
    #heading-part{
        font-size: medium;
    }
    #you{
        font-size: medium;
    }
    #computer{
        font-size: medium;
    }
    #youChoseWhat{
        font-size: medium;
    }
    #computerChoseWhat{
        font-size: medium;
    }
}