
.container{
    margin: auto;
    width:700px;
    height: 300px;
    padding: 60px;
    top:50px;
    position: relative;
    border-style: solid;

}
#rock{
    width: 200px;
    height: 200px;
}
#paper{
    width:200px;
    height: 200px;
}
#scissors{
    width: 200px;
    height: 200px;
}
#you{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#computer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#heading{
    text-align: center;
}
#heading-part{
    text-align: center;
    position: relative;
    top:20px;
    color:coral;
}
#you-chose-what{
    text-align: center;
    position: relative;
    top:20px;
    left: -160px;
}