
.container{
    margin: auto;
    width:700px;
    height: 300px;
    padding: 60px;
    top:50px;
    position: relative;
    border-style: solid;
    visibility: visible;

}
#copy{
    text-align: center;
}
#rock{
    width: 200px;
    height: 200px;
}
#paper{
    width:200px;
    height: 200px;
}
#scissors{
    width: 200px;
    height: 200px;
}
#you{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#computer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#heading{
    text-align: center;
}
#heading-part{
    text-align: center;
    position: relative;
    top:20px;
    color:coral;
}
#youChoseWhat{
    text-align: center;
    position: relative;
    top:20px;
    left: 5px;
}
#computerChoseWhat{
    text-align: center;
    position: relative;
    top:20px;
    left: 5px;
}
#layer{
    visibility: hidden;
}
.play{
    align-items: center;
    position: relative;
    left: 710px;
    top:-390px;
    font-size: large;
    background-color: aqua;
    size:300px;
    
}
@media (max-width:500px){
    .container{
        margin: auto;
        width:300px;
        height: 200px;
        padding: 20px;
        top:20px;
        position: relative;
        border-style: solid;
        visibility: visible;
    
    }
    #rock{
        width: 50px;
        height: 50px;
    }
    #paper{
        width:50px;
        height: 50px;
    }
    #scissors{
        width: 50px;
        height: 50px;
    }
    #heading{
        font-size: larger;
    }
    #heading-part{
        font-size: medium;
    }
    #you{
        font-size: medium;
    }
    #computer{
        font-size: medium;
    }
    #youChoseWhat{
        font-size: medium;
    }
    #computerChoseWhat{
        font-size: medium;
    }
    .play{
        align-items: center;
        position: relative;
        left: 130px;
        top:-190px;
        font-size: large;
        background-color: aqua;
        size:100px;
        
    }
}